
<div class="text-container">
  <h2>These are the instruments currently available to rent</h2>
  <div data-controller="map"
      id='map'
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-page-value="index"
      style='width: auto; height: 300px'>
  </div>

  <ul>
    <% @instruments.each do |instrument| %>
      <div class="card-product">
        <img src= "https://source.unsplash.com/random/?<%=instrument.name%>">
        <div class="card-product-infos">
          <%= instrument.name %>
          <%= "£#{instrument.price}" %>
          <%= link_to "View this instrument", instrument_path(instrument) %>
          <br>
        </div>
      </div>
    <% end %>
    </ul>
  </div>
</div>
