<h1>Adding a new instrument </h1>

<%= simple_form_for @instrument do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.submit class: 'btn btn-flat' %>
<% end %>
